
  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  @media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }

  }

  * {
    box-sizing: border-box;
  }




body {
  background-color: yellow;
  color: purple;
  text-align: center;

}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  width: 100%;

  }


.grid__item {




    }
 .grid__item:hover {
  background: red;
 }
 .flex_grid {
   color: blue;
   background-color: lightblue;
   border-radius: 25px;
   margin:2%;

  display:flex;
  flex-direction:row;
 justify-content: space-around;




 }
